<div id="card" style="width: 18rem;">

  <div class="card-body">

    <p class="card-text">Title:{{singlePost.title}}</p>
    <p class="card-text">Content:{{singlePost.content}}</p>
    <p class="card-text">last updated:{{singlePost.updated_at}}</p>

    <button
      id="deletebutton"
      data-id={{singlePost.id}}
      class="cloudinary-button"
    >Delete this post</button>
    <a
      href="/api/posts/update/{{singlePost.id}} "
      id="updatebutton"
      class="cloudinary-button"
    >Update this post</a>
    <script>

      const deleteCar{{id}}
      = async () => { const response = await fetch("/api/posts/" +
      {{id}}, { method: "DELETE" }) if (response.ok) {
      document.location.replace("/dashboard/myPosts") } }
      document.querySelector(`#deletebutton{{id}}`).addEventListener("click",
      deleteCar{{id}});
    </script>

  </div>
</div>

<script src="/js/delete.js"></script>