<div id="card" style="width: 18rem;">

  <div class="card-body">

    <p class="card-text">Title:{{singlepost.title}}</p>
    <p class="card-text">Content:{{singlepost.content}}</p>
    <p class="card-text">last updated:{{singlepost.updated_at}}</p>
    <a href="/api/posts/{{id}}" id="view_car" class="cloudinary-button">View
      post</a>
    <button id="deletebutton" data-id={{id}} class="cloudinary-button">Delete
      this Car</button>
    <a
      href="/api/posts/update/{{id}}"
      id="updatebutton"
      class="cloudinary-button"
    >Update your Car</a>
    <script>

      const deleteCar{{id}}
      = async () => { const response = await fetch("/api/posts/" +
      {{id}}, { method: "DELETE" }) if (response.ok) {
      document.location.replace("/dashboard/myPosts") } }
      document.querySelector(`#deletebutton{{id}}`).addEventListener("click",
      deleteCar{{id}});
    </script>

  </div>
</div>

<script src="/js/delete.js"></script>